/* Import google font - Work Sans*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Register font family and colors*/
$font-family: 'Work Sans', sans-serif;
$primary-color: #4A4642;
$secondary-color: #FFFFFF;
$tertiary-color: #000000;
$background-color: #1D1E21;
$background-card-project:#1D1E21;
$background-card: #121416;
