@import 'colors';

/* Register general rules for the content */
.content {
    min-height: 1000px;
    width: 100%;
}

/* Register general rules for the archive site */
.archive {
    display: flex;
    flex-direction: column;
    align-items: left;

    h2 {
        font-size: 17px;
        margin: 24px 0 12px 0;
        padding: 0;
        text-align: left;

        p {
            font-size: 17px;
        }
    }

    p {
        margin: 0; 
    }

    .video-projects {
        width: 100%;
        height: 189px;
    }

    .blogs {
        width: 100%;
        height: 200px;
        cursor: pointer;
        margin-top: 24px;

        img {
            border-radius: 5px 5px 0 0;
            margin: 0;
            width: 100%;
            height: 160px;
        }
        
    
        &__content {
            background-color: $background-card;
            display: flex;
            flex-direction: column;
            margin: 0 0 24px 0;
            border-radius: 0 0 5px 5px;
            box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
            position: relative;
            padding: 6px;
            top: -4px;
            height: 40px;
            
            h3 {
                font-size: 10px;
            }

            .blog__excerpt {
                display: flex;
                flex-direction: row;

                p {
                    font-size: 10px;
                    margin: 5px 0 5px 0;
                }

                a {
                    font-size: 10px;
                    font-weight: bold;
                    text-decoration: none;
                    position: absolute;
                    left: 280px;
                    top: 22px;
                }
            }

            .spm-spots {
                width: 98px;
                height: 53px;
                position: absolute;
                bottom: 0;
                right: 22px;
            }

            .sus-spots {
                width: 98px;
                height: 53px;
                position: absolute;
                bottom: 0;
                right: 22px;
            }

            .fsd-spots {
                width: 98px;
                height: 53px;
                position: absolute;
                bottom: 0;
                right: 22px;
            }
        }
    }

    .musik-pa-hjemmebanen {
        margin-bottom: 80px;
    }


    /* Register general rules for the category - SPOT på midten */
    .category-pa-midten {
        background-color: $background-card;
        margin: 24px 0 24px 0;
        border-radius: 5px;
        box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
        position: relative;
        width: 100%;
        height: 200px;
        cursor: pointer;

        img {
            width: 100%;
            height: 160px;
            border-radius: 5px 5px 0 0;
        }

        .container-category {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 6px;
            height: 40px;
            

            h3 {
                font-size: 10px;
            }

            &__info {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 20px;
              
                p {
                    font-size: 10px;
                }  

                a {
                    font-size: 10px;
                    font-weight: bold;
                    text-decoration: none;
                    position: absolute;
                    left: 280px;
                    z-index: 2;
                }          
            }

            .spm-spots {
                width: 98px;
                height: 53px;
                position: absolute;
                bottom: 0;
                right: 22px;
            }
        }
    }
}

/* Register general rules for the event sites - project */
.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    figure {
        height: 189px !important;
        margin: 0;

        iframe {
            height: 100%;
        }
    }

    &__info {
        position: relative;
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .wp-block-embed {
            position: relative;
            top: -20px;
        }

        h2 {
            text-align: left;
            margin: 12px 0 24px 0;
            padding: 0;
            top: 200px;
            position: relative;
        }

        .wp-block-button {
            position: absolute;
            right: 0;
            top: 240px;
        }

        .facebook-api {
            padding-bottom: 40px;
        }

        p {
            text-align: left;
            font-size: 12px;
            margin: 0;
            padding-top: 12px;

            a {
                color: $primary-color;
                text-decoration: none;
            }
        }

        .wp-block-columns {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 24px 0 -40px 0;

            i {
                padding: 10px;
                background-color: rgba($color: $secondary-color, $alpha: 0.10);
                border-radius: 50%;
                color: $secondary-color;
            }

            p {
                padding-left: 6px;
                padding-top: 0;

                &:nth-child(2) {
                    font-weight: bold;
                }
            }
        }
    }

    /* Register rules for the read more function */
    #more {
        display: none;
        background-color: transparent;
        position: inherit;
    }
    
    #dots {
        color: $secondary-color;
        background-color: transparent;
        position: inherit;
    }
    
    #readmoreBtn {
        color: $secondary-color;
        cursor: pointer;
        font-weight: bold;
        padding: 0;
    }   
}