@import 'colors';
.content {
    min-height: 1000px;
    width: 100%;
}

.archive {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 20px;
        text-transform: none;
        font-weight: 400;
    }

    p {
        margin: 16px 0 16px 0;   
    }

    .video-projects {
        width: 412px;
        height: 315px;
    }

    .blogs {
        width: 300px;

        img {
            border-radius: 5px 5px 0 0;
            margin: 0;
        }
        
    
        &__content {
            background-color: $background-card;
            display: flex;
            flex-direction: column;
            margin: 0 0 26px 0;
            border-radius: 0 0 5px 5px;
            box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
            padding: 7px 0 0 5px;
            position: relative;
            top: -3px;
            
            h3 {
                font-size: 10px;
            }

            .blog__excerpt {
                display: flex;
                flex-direction: row;

                p {
                    font-size: 10px;
                    margin: 5px 0 5px 0;
                }

                a {
                    font-size: 10px;
                    font-weight: bold;
                    text-decoration: none;
                    position: absolute;
                    left: 230px;
                }
            }
        }
    }

    .category-pa-midten {
        background-color: $background-card;
        margin: 0 0 26px 0;
        border-radius: 5px;
        box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
        position: relative;
       
        img {
            border-radius: 5px 5px 0 0;
            margin: 0;
        }

        .container-category {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px;
            height: 40px;

            h3 {
                font-size: 10px;
            }

            &__info {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 20px;
              
                p {
                    font-size: 10px;
                }  

                a {
                    font-size: 10px;
                    font-weight: bold;
                    text-decoration: none;
                    position: absolute;
                    left: 230px;
                }              
            }
        }

        
    }

}

.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    img {
        width: 100vw;
        height: 325px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__info {
        width: 100vw;
        height: 700px;
        background: $background-card-project;
        border-radius: 20px 20px 0 0;
        position: absolute;
        top: 280px;
        left: 0;
        padding: 35px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        span {
            width: 40px;
            height: 2px;
            background-color: $secondary-color;
            position: relative;
            left: 45%;
            top: -25px;
            border-radius: 5px;
           
        }
        
        .facebook-event-api {
            padding: 20px 0 30px 0;
        }

        p {
            text-align: left;
            font-size: 12px;
            margin: 0;

            a {
                color: $primary-color;
                text-decoration: none;
            }
        }

        .wp-block-columns {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 40px 0 -40px 0;

            i {
                padding: 10px;
                background-color: rgba($color: $secondary-color, $alpha: 0.2);
                border-radius: 50%;
                color: $primary-color;
            }

            p {
                padding-left: 7px;

                &:nth-child(2) {
                    font-weight: bold;
                }
            }
        }

        .wp-block-buttons {
            width: 100%;           
            margin-top: 150px;
            justify-content: center;
        }

       
    }
    //Read more text on project
    #more {
        display: none;
        background-color: transparent;
        position: inherit;
    }
    
    #dots {
        color: $secondary-color;
        background-color: transparent;
        position: inherit;
    }
    
    #readmoreBtn {
        color: $primary-color;
        cursor: pointer;
    }
    
}