/* Register general rules for graphics */
.graphics-bottom {
    transform: scale(1, -1);

    .borders {
        position: absolute;
        width: 100px;
        height: 45px;
        
        span {
            position: absolute;
            border-radius: 5px;
            background-color: $secondary-color;
        
            &:nth-child(1) {
                width: 100px;
                height: 4px
            }
            
            &:nth-child(2) {
                width: 4px;
                height: 45px;
            }
        }
    }

    .borders-2 {
        position: absolute;
        width: 100px;
        right: 0;
        height: 45px;
        
        span {
            position: absolute;
            border-radius: 5px;
            background-color: $secondary-color;
        
            &:nth-child(1) {
                width: 100px;
                height: 4px;
            }
            
            &:nth-child(2) {
                width: 4px;
                height: 45px;
                left: 98px;
            }
        }
    }

    .footer-spot-logo {
        transform: scale(1, -1);
        position: absolute;
        bottom: -22px;
        right: 150px;
    }
}

/* Register general rules for footer */
footer {
    width: 100%;
    height: 300px;

    .footer-spot {

        ul {
            margin-bottom:40px ;
        }

        h4 {
            font-size: 12px;
        }

        p {
            font-size: 12px;
        }
    }
}