@import 'colors';
@import 'header';
@import 'content';
@import 'footer';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $secondary-color;
    font-family: $font-family;
}

body {
    background: linear-gradient(#3E6944, #071008);
    margin: 20px;
}

h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    text-align: center;
}

.button {
    background-color: $primary-color;
    border-radius: 5px;
    color: $tertiary-color;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-hight: 14px;
    cursor: pointer;
  }

.slider {
    width: 100%;
    height: 121px;
    background-color: $secondary-color;
}